@import url(./root.css);

::-webkit-scrollbar {
  width: 10px;
  /* width: 0; */
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
}

html{
  scroll-snap-type: y proximity;
}

body{
  margin: 0;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

em{
  font-weight: bold;
}
em:hover{
  color: hsl(130, 60%, 30%);
}

footer{
  text-align: center;
  padding: 1rem;
  padding-bottom: 4rem;
}

header{
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

nav{
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 3rem;
  justify-content: end;
  padding: 2rem;
}
nav a{
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover{
  text-decoration: underline;
}

section{
  padding: 2rem;
}

.activity {
  background-color: #fefefe;
  border-radius: 1.25rem;
  margin: 15% auto;
  padding: 1rem;
  padding-top: 0.5rem;
  border: 1px solid #888;
  height: 80%;
  width: 80%;
}

.activity-background{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.activity-button{
  align-items: center;
  cursor: pointer;
  display: flex;
}
.activity-button img{
  height: 32px;
  width: 32px;
}

.activity-close{
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}
.activity-close:hover,
.activity-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.activity-top-bar{
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.activity-top-bar div{
  align-self: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.big{
  font-size: 1.25rem !important;
}

.bigger{
  font-size: 2rem !important;
}

.button{
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  transition: 0.2s;
}
.button:not(:disabled){
  cursor: pointer;
}

.button-group{
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  justify-content: end;
}
.button-group > button{
  flex-grow: 1;
}

.carousel-cell{
  background-color: #eeefff;
  display: flex;
  width: 100%;
}
.carousel-cell > img{
  width: 100%;
}

.credits-box{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.credits-card{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 0.5rem;
  justify-content: center;
}
.credits-card > a{
  background-color: var(--main-background-color);
  border-radius: 1rem;
  color: white;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  text-decoration: none;
}
.credits-card > div{
  font-weight: bold;
}
.credits-card > img{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.credits-subtitle{
  font-weight: normal !important;
  font-size: 1rem;
}

.how-it-works-grid{
  align-items: center;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 0 2rem;
  padding-bottom: 3rem;
}
.how-it-works-grid > ol{
  font-size: 1.5rem;
}
.how-it-works-grid li{
  margin-bottom: 1rem;
}
.how-it-works-grid > div:last-child{
  align-self: flex-start;
  text-align: center;
}
.how-it-works-grid a{
  color: black;
  text-decoration: none;
}

.indicator{
  width: calc(32px/2);
  height: calc(32px/2);
  border-radius: 50%;
  background-color: red;
}

.indicator-group{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.indicator-group > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.indicator-group img{
  height: 32px;
  width: 32px;
}

.intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1;
  text-align: right;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
}
.intro > img{
  /*
  height: 400px;
  width: 400px;
  */
  height: 60vmin;
  width: 60vmin;
}

.intro-box{
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.intro-grid{
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 2fr 1fr;
  padding: 0.75rem;
}

.intro-icon{
  height: 5rem;
  padding-right: 3rem;
  padding-top: 2rem;
  width: 5rem;
}

.intro-image{
  /* background-image: url('https://cdn.pixabay.com/photo/2019/04/06/06/44/astronaut-4106766_1280.jpg'); */
  /* background-image: url('https://cdn.pixabay.com/photo/2018/11/20/16/44/laboratory-3827745_1280.jpg'); */
  background-image: url('https://cdn.pixabay.com/photo/2016/11/22/20/10/astronomy-1850461_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  /* height: 57vh;*/
  justify-content: end;
  overflow: hidden;
}
.intro-image > a{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 1rem;
  text-decoration: none;
}
.intro-image > a:hover{
  color: hsl(0, 0%, 85%);
}

.intro-text{
  align-items: center;
  background-color: hsl(0, 0%, 85%);
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: center;
  overflow: hidden;
  padding: 3rem;
}

.investigation-element{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}
.investigation-element > div{
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;
}
.investigation-element > img{
  width: 28vw;
  aspect-ratio: 2;
}
.investigation-element > p{
  text-align: justify;
}

.investigations{
  background-color: hsl(0, 0%, 70%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2rem;
  min-height: 50vh;
}

.investigations-title{
  background-color: var(--header-background-color);
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  height: 10vh;
  padding: 1rem;
  text-align: center;
}

.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);
}

.logo{
  height: 4rem;
  width: 4rem;
  /* filter: brightness(0) invert(1); */
}

.logo-group{
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.logo-group > div{
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.logs{
  height: 90%;
  overflow: auto;
}

.logs-accordion {
  align-items: center;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .logs-accordion:hover {
  background-color: #ccc;
}
.logs-accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
.logs-accordion img{
  height: 24px;
  width: 24px;
}

.logs-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.no-contributions{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  justify-content: center;
  padding: 2rem;
}
.no-contributions a{
  color: black;
}
.no-contributions > div:first-child{
  text-align: center;
}

.no-contributions-ilustration{
  animation: shake 15s ease-in-out infinite;
  height: 60vh;
}

.no-contributions-text{
  font-size: 1.25rem;
  padding: 1rem;
}

.no-logs{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  height: 100%;
  justify-content: center;
}

.operation-explanation{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.operation-explanation img{
  padding-top: 2rem;
  width: 50vw;
}
.operation-explanation p{
  padding: 0 4rem;
}

.project-grid{
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 2rem 3rem;
}
.project-grid > div:first-child{
  text-align: center;
}
.project-grid p{
  font-size: 1.5rem;
}

.project-ilustration{
  animation: shake 15s ease-in-out infinite;
  width: 350px;
}

.rainbow-background{
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}

.scroll-snap{
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.selectable{
  cursor: pointer;
}

.spacer{
  min-height: 50px;
}

.start{
  background-color: hsl(130, 60%, 30%);
}
.start:disabled, .start:hover{
  background-color: hsl(130, 60%, 20%);
}

.status{
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.status img{
  height: 20px;
  width: 20px;
}

.status-bar{
  background-color: var(--main-background-color);
  border-radius: 1.25rem;
  bottom: 0;
  color: white;
  display: grid;
  font-weight: bold;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin: 1.25rem 0.75rem;
  padding: 0.75rem 1rem;
  position: fixed;
  right: 0;
  width: calc(100%/3 - 2.7rem);
  z-index: 99;
}
.status-bar > div{
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.stop{
  background-color: hsl(0, 60%, 45%);
}
.stop:disabled, .stop:hover{
  background-color: hsl(0, 60%, 30%);
}

.subtitle{
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
}

.title{
  font-weight: bold;
  /* font-size: 5rem; */
  font-size: 6vw;
  color: white;
}

.title-collaborating{
  color: black;
  display: none;
}

.top-bar{
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0 2rem;
}

#contributions{
  min-height: 100vh;
  padding: 0;
}

#detailed-explanation{
  padding-top: 0;
}

#how-it-works{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  padding-bottom: 0;
}

#project{
  background-color: var(--header-background-color);
  color: white;
  min-height: 100vh;
}

#yes-contributions{
  color: white;
  display: none;
}

@media (max-width: 1024px) {
  .intro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  }
  .intro > img{
    display: none;
  }

  .investigation-element > img{
    width: 42vw;
  }

  .investigations{
    grid-template-columns: 1fr 1fr;
  }

  .title{
    font-size: 4rem;
  }
}

@media (max-width: 950px){

  footer{
    padding-bottom: calc(100px + 2rem);
  }

  nav{
    flex-direction: column;
  }

  .credits-box{
    grid-template-columns: repeat(2, 1fr);
  }

  .how-it-works-grid{
    display: block;
  }

  .how-it-works-grid > div:last-child{
    display: none;
  }

  .intro{
    padding: 1rem;
  }

  .intro-grid{
    grid-template-columns: 1fr;
  }

  .intro-text{
    height: auto;
    padding: 2rem;
  }

  .operation-explanation img{
    width: 100%;
  }
  .operation-explanation p{
    padding: 0;
  }

  .project-grid{
    display: block;
  }

  .project-grid > div:first-child{
    display: none;
  }

  .status-bar{
    border-radius: 0;
    margin: 0;
    width: calc(100vw - 2.5rem);
  }

  .top-bar{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 0;
  }
}

@media (max-width: 550px){

  .credits-box{
    grid-template-columns: 1fr;
  }

  .how-it-works-grid{
    padding: 0;
  }
  .how-it-works-grid > ol{
    font-size: 1.25rem;
  }

  .investigation-element > img{
    width: 80vw;
  }

  .investigations{
    grid-template-columns: 1fr;
  }

  .logo-group{
    flex-direction: column;
  }

  .no-contributions{
    grid-template-columns: 1fr;
  }
  .no-contributions > div:first-child{
    display: none;
  }

  .project-grid{
    padding: 1rem;
  }
  .project-grid > div:last-child > p{
    font-size: 1.25rem;
  }

  .title{
    font-size: 3rem;
  }
}

@media (pointer: coarse) and (max-width: 950px) {
  .status-bar{
    width: calc(100vw - 2rem);
  }
}

@keyframes shake {
  0% { transform: translate(2px, -3px) rotate(0deg); }
  10% { transform: translate(-2px, -3px) rotate(-1deg); }
  20% { transform: translate(-4px, 0px) rotate(1deg); }
  30% { transform: translate(4px, 3px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-2px, 3px) rotate(-1deg); }
  60% { transform: translate(-4px, 3px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-2px, -2px) rotate(1deg); }
  90% { transform: translate(2px, 3px) rotate(1deg); }
  100% { transform: translate(1px, -3px) rotate(-1deg); }
}

@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* Slider */

#mySlider a {
	padding: 1rem;
	background-color: var(--main-background-color);
	color: #fff;
	border-radius: 1.25rem;
	text-decoration: none;
  width: fit-content;
}
#mySlider a:hover {
  background-color: var(--main-hover-color);
}

#mySlider {
	overflow: hidden;
  position: relative;
  width: 100%;
  height: 90vh;
}

.singleSlide {
  background-size: cover;
  height: 90vh;
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  width: 100%;
  top: 0px;
}

.slideOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 0 15vw;
  height: 100%;
}
.slideOverlay > h1 {
  font-size: 3rem;
  margin: 0;
}
.slideOverlay > h4 {
  font-size: 1.5rem;
  margin: 0;
}
	
#sliderNav {
	position: relative;
  top: -50vh;
  z-index: 1;
  font-size: 42px;
}

#sliderNav:hover { 
  cursor: pointer; 	
}

#sliderPrev {
  position: relative;
  float: left;
  left: 50px;
}

#sliderNext {
  position: relative;
  float: right;
  right: 50px;
}

@-webkit-keyframes slideIn {
  100% { left: 0; }
}

@keyframes slideIn {
  100% { left: 0; }
}

.slideInRight {
	left: -100%;
	-webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.slideInLeft {
	left: 100%;
	-webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
  100% { left: -100%; }
}

@keyframes slideOutLeft {
  100% { left: -100%; }
}

.slideOutLeft {
	-webkit-animation: slideOutLeft 1s forwards;
  animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
  100% { left: 100%; }
}

@keyframes slideOutRight {
  100% { left: 100%; }
}

.slideOutRight {
	-webkit-animation: slideOutRight 1s forwards;
  animation: slideOutRight 1s forwards;
}