<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style-entities.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Admin - HiveCompute</title>
</head>
<body>
  <div id="app"></div>
  <script>
    const mainPage = {
      emits: ['changePage'],
      props: ['userName', 'entityName'],
      data: function() {
        return {
          userNumber: 0,
          adminNumber: 0
        }
      },
      template: 
      `
      <main class="main-section dashboard">
        <div class="welcome-text">Welcome, {{userName}}!</div>
        <section class="main-board">
          <div class="main-card selectable" @click="$emit('changePage', 2)">
            <div>There are</div>
            <div class="main-card-number">{{userNumber}}</div>
            <div>users</div>
          </div>
          <div class="main-card">
            <div>There are</div>
            <div class="main-card-number">{{adminNumber}}</div>
            <div>admins</div>
          </div>
          <div class="main-card">
            <div>Your current</div>
            <div>organization is</div>
            <div class="bold">{{entityName}}</div>
          </div>
        </section>
      </main>
      `,
      methods: {
        
      },
      mounted(){
        fetch('/admin/getNumbers').then(res => res.json()).then(data => {
          this.userNumber = data.researchers;
          this.adminNumber = data.admins;
        }).catch(console.error);
      }
    };

    const addUser = {
      data: function() {
        return {
          name: "",
          surname: "",
          email: "",
          isAdmin: false
        }
      },
      emits: ['changePage'],
      methods:{
        createNewUser: function(){
          var form = document.getElementById('user-form');
          if(form.reportValidity()){
            const newUser = {
              name: this.name,
              surname: this.surname,
              email: this.email,
              isAdmin: this.isAdmin
            }

            fetch('/admin/createResearcher', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(newUser)
            }).then(() => {
              this.$emit('changePage', 2);
            }).catch(console.log);
          }
        }
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">Create user</div>
        <form action="javascript:void(0)" class="form standard-form" id="user-form">
          <div>Name:</div>
          <input type="text" v-model="name" placeholder="Write the user name here..." required>
          <div>Surname(s):</div>
          <input type="text" v-model="surname" placeholder="Write the user surname(s) here..." required>
          <div>Email:</div>
          <input type="email" v-model="email" placeholder="Write the user email here..." required>
          <div>Is an administrator?:</div>
          <input type="checkbox" v-model="isAdmin">
          <button class="submit-button" @click="createNewUser">Create user</button>
        </form>
      </main>
      <div class="popup" v-if="actionDone || actionError">
        <div class="popup-element" v-if="actionDone">
          The project has been added successfully
          <div class="discrete-link" @click="actionDone = false">Close</div>
        </div>
        <div class="popup-element error" v-if="actionError">
          An error occurred adding the project <br> Please try again
          <div class="discrete-link" @click="actionError = false">Close</div>
        </div>
      </div>
      `
    };

    const manageUsers = {
      data: function() {
        return {
          users: []
        }
      },
      emits: ['changePage', 'editUser'],
      template: 
      `
      <main class="main-section">
        <div class="section-title">Manage Users</div>
        <div class="add-project-button" @click="newUser">
          + Create new user
        </div>
        <div class="project-box">
          <div class="project-card" v-for="user in users" @click="editUser(user.email)">
            <img :src="project.image" alt="project image">
            <div>{{user.name}} <b>{{user.surname}}</b></div>
          </div>
        </div>
      </main>
      `,
      methods: {
        editProject: function(userEmail){
          this.$emit('editUser', userEmail);
        },
        getUsers: function(){
          fetch("/admin/getResearchers", {
            method: "GET"
          }).then(res => res.json()).then(users => {
            this.users = users;
          }).catch(console.log);
        },
        newUser: function(){
          this.$emit('changePage', 1);
        }
      },
      mounted(){
        this.getUsers();
      }
    };

    const editUser = {
      data: function() {
        return {
          tasks: undefined
        }
      },
      props: ['userMail'],
      template: 
      `
      <main class="main-section">
        <div class="section-title">Edit User</div>
      </main>
      `,
      methods: {
        
      },
      mounted(){

      }
    };

    const profileSettings= {
      data: function() {
        return {
          
        }
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">Profile Settings</div>
      </main>
      `,
      methods: {
        
      }
    };

    let options = {
      data: function() {
        return {
          page: 0,
          user: undefined,
          entity: undefined,
          selectedProject: undefined,
          selectedTask: undefined
        }
      },
      computed: {
        entityName: function(){
          if(this.entity){
            return this.entity.name;
          }
          return "";
        },
        userName: function(){
          if(this.user){
            return this.user.name;
          }
          return "";
        }
      },
      methods: {
        changePage: function(newPage){
          this.page = newPage;
        },
        editProject: function(projectKey){
          this.selectedProject = projectKey;
          this.page = 6;
        },
        loadData: function(){
          fetch('/entities/getMyData').then(res => res.json()).then(userData => {
            this.user = userData;
          }).catch(console.error);

          fetch('/admin/getEntityInfo').then(res => res.json()).then(data => {
            this.entity = data;
          }).catch(console.error);
        }
      },
      mounted(){
        this.loadData();
      },
      template: 
      `
      <header>
        <div @click="page = 0">
          <img src="/assets/img/logo-hive.png" alt="logo" class="logo">
          <div>HiveCompute - Admin</div>
        </div>
        <nav class="nav-links">
          <div @click="page = 1">Create user</div>
          <div @click="page = 2">Manage users</div>
          <div @click="page = 5"><img src="/assets/img/person.svg" alt="profile"></div>
          <a href="/admin/logout"><img src="/assets/img/logout.svg" alt="logout"></a>
        </nav>
      </header>
      <main-page v-if="page == 0" @change-page="changePage" :user-name="userName" :entity-name="entityName"></main-page>
      <add-user v-if="page == 1"></add-user>
      <manage-users v-if="page == 2" @change-page="changePage" @edit-project="editProject"></manage-users>
      <profile-settings v-if="page == 5"></profile-settings>
      <edit-user v-if="page == 6" :user-email="selectedUser"></edit-project>
      `
    }

    var app = Vue.createApp(options);
    app.component('main-page', mainPage);
    app.component('add-user', addUser);
    app.component('manage-users', manageUsers);
    app.component('profile-settings', profileSettings);
    app.component('edit-user', editUser);
    const vm = app.mount("#app")
  </script>
</body>
</html>