<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="assets/img/logo-hive.png" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/style-entities.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Entities - HiveCompute</title>
</head>
<body>
  <div id="app"></div>
  <script>
    const mainPage = {
      emits: ['changePage'],
      props: ['userName', 'entityName'],
      data: function() {
        return {
          numbers: {
            projects: 0,
            tasks: 0
          },
          isLoading: true
        }
      },
      methods: {
        getNumbers: function(){
          fetch('/entities/getResearcherNumbers').then(res => res.json()).then(numbers => {
            this.numbers = numbers;
            this.isLoading = false;
          }).catch(console.error);
        }
      },
      mounted(){
        this.getNumbers();
      },
      template: 
      `
      <main class="main-section dashboard">
        <div class="welcome-text">Welcome, {{userName}}!</div>
        <section class="main-board">
          <div class="main-card selectable" @click="$emit('changePage', 4)">
            <div>You have</div>
            <div class="main-card-number">{{numbers.projects}}</div>
            <div>projects</div>
          </div>
          <div class="main-card">
            <div>You have</div>
            <div class="main-card-number">{{numbers.tasks}}</div>
            <div>tasks</div>
          </div>
          <div class="main-card">
            <div>Your current</div>
            <div>organization is</div>
            <div class="bold">{{entityName}}</div>
          </div>
        </section>
      </main>
      <loading-icon v-if="isLoading"></loading-icon>
      `
    };

    const addTask = {
      data: function() {
        return {
          codeFile: null,
          jsFile: null,
          project: "",
          title: "",
          dataList: [],
          dataDependencies: "",
          projectList: [],
          isLoading: true,
          actionDone: false,
          actionError: false
        }
      },
      methods: {
        clearInputs: function(){
          this.codeFile = null;
          this.jsFile = null;
          this.project = "";
          this.title = "";
          this.dataDependencies = "";
        },
        getData: function(){
          fetch("/entities/getMyDataFiles").then(res => res.json()).then(data => {
            this.dataList = data;
          }).catch(console.error);
        },
        getProjects: function(){
          fetch("/entities/getMyProjects", {
            method: "GET"
          }).then(res => res.json()).then(projects => {
            this.projectList = projects;
            this.isLoading = false;
          }).catch(console.error);
        },
        newFile: function(e){
          this.codeFile = e.target.files[0];
        },
        newJsFile: function(e){
          this.jsFile = e.target.files[0];
        },
        sendNewTask: function(){
          var form = document.getElementById('create-task-form');

          if(!form.reportValidity()){
            return;
          }

          this.isLoading = true;

          const formData = new FormData();
          formData.append('title', this.title);
          formData.append('wasm', this.codeFile);
          formData.append('js', this.jsFile);
          formData.append('project', this.project);
          formData.append('dataDependencies', this.dataDependencies);

          fetch("/entities/addTask", {
            method: 'POST',
            body: formData
          }).then(() => {
            this.clearInputs();
            this.isLoading = false;
            this.actionDone = true;
          }).catch(err => {
            console.error(err);
            this.isLoading = false;
            this.actionError = true;
          });
        }
      },
      mounted(){
        this.getData();
        this.getProjects();
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">Create task</div>
        <form action="javascript:void(0)" class="user-data-form" id="create-task-form">
          <div>
            <div>Title: </div>
            <input type="text" v-model="title" placeholder="Write a title to quickly identify the task..." required>
          </div>
          <div>
            <div>WASM Code: </div>
            <input type="file" @change="newFile" accept="application/wasm" required>
          </div>
          <div>
            <div>Emscripten JS: </div>
            <input type="file" @change="newJsFile" accept="text/javascript" required>
          </div>
          <div>
            <div>Data dependencies: </div>
            <select v-model="dataDependencies">
              <option value="" selected>*No dependencies*</option>
              <option v-for="data in dataList" :value="data.id">{{data.title}}</option>
            </select>
          </div>
          <div>
            <div>Project: </div>
            <select v-model="project" required>
              <option v-for="proj in projectList" :value="proj.id">{{proj.title}}</option>
            </select>
          </div>
          <button @click="sendNewTask">Create task</button>
        </form>
      </main>
      <div class="popup" v-if="actionDone || actionError">
        <div class="popup-element" v-if="actionDone">
          The project has been added successfully
          <div class="discrete-link" @click="actionDone = false">Close</div>
        </div>
        <div class="popup-element error" v-if="actionError">
          An error occurred adding the project <br> Please try again
          <div class="discrete-link" @click="actionError = false">Close</div>
        </div>
      </div>
      <loading-icon v-if="isLoading"></loading-icon>
      `
    };

    const addProject = {
      data: function() {
        return {
          title: "",
          text: "",
          url: "",
          image: null,
          actionDone: false,
          actionError: false,
          isLoading: false
        }
      },
      methods:{
        sendNewProject: function(){
          var form = document.getElementById('create-project-form');

          if(!form.reportValidity()){
            return;
          }

          this.isLoading = true;

          const formData = new FormData();
          formData.append("title", this.title);
          formData.append("text", this.text);
          formData.append("url", this.url);
          formData.append("image", this.image);

          fetch("/entities/addProject", {
            method: 'POST',
            body: formData
          }).then(res => {
            this.isLoading = false;
            if(res.status == 200){
              this.title = "";
              this.text = "";
              this.url = "";
              this.image = "";
              document.getElementById("image-input").value = null;
              this.actionDone = true;
            } else {
              this.actionError = true;
            }
          }).catch(err => {
            console.log(err);
            this.isLoading = false;
            this.actionError = true;
          });
        },
        newImage: function(e){
          this.image = e.target.files[0];
        }
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">Create project</div>
        <form action="javascript:void(0)" class="user-data-form" id="create-project-form">
          <div>
            <div>Title: </div>
            <input type="text" v-model="title" placeholder="Write the title of the project here..." required>
          </div>
          <div>
            <div>Description: </div>
            <textarea class="description-textarea" v-model="text" placeholder="Write a description of the project here..." required></textarea>
          </div>
          <div>
            <div>URL: </div>
            <input type="text" v-model="url" placeholder="Write the informative project URL here..." required>
          </div>
          <div>
            <div>Image: </div>
            <input type="file" id="image-input" @change="newImage" required>
          </div>
          <button @click="sendNewProject">Create project</button>
        </form>
      </main>
      <div class="popup" v-if="actionDone || actionError">
        <div class="popup-element" v-if="actionDone">
          The project has been added successfully
          <div class="discrete-link" @click="actionDone = false">Close</div>
        </div>
        <div class="popup-element error" v-if="actionError">
          An error occurred adding the project <br> Please try again
          <div class="discrete-link" @click="actionError = false">Close</div>
        </div>
      </div>
      <loading-icon v-if="isLoading"></loading-icon>
      `
    };

    const manageProjects = {
      data: function() {
        return {
          projects: [],
          selectedProject: undefined,
          isLoading: true,
          deleting: false
        }
      },
      emits: ['changePage', 'editProject'],
      methods: {
        deleteConfirmation: function(project){
          this.selectedProject = project;
          this.deleting = true;
        },
        deleteProject: function(){
          this.deleting = false;
          this.isLoading = true;
          fetch("/entities/deleteProject", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              projectId: this.selectedProject.id
            })
          }).then(() => {
            this.getProjects();
          }).catch(console.error);
        },
        editProject: function(project){
          this.$emit('editProject', project);
        },
        getProjects: function(){
          fetch("/entities/getMyProjects").then(res => res.json()).then(projects => {
            this.projects = projects;
            this.isLoading = false;
          }).catch(err => console.log(err));
        },
        newProject: function(){
          this.$emit('changePage', 2);
        }
      },
      mounted(){
        this.getProjects();
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">Manage Projects</div>
        <div class="add-project-button" @click="newProject">
          + Create new project
        </div>
        <div class="project-box">
          <div class="project-card" v-for="project in projects">
            <div @click="editProject(project)">{{project.title}}</div>
            <div class="users-button-group">
              <img src="assets/img/delete.svg" alt="delete project" title="Delete project" @click="deleteConfirmation(project)">
            </div>
          </div>
        </div>
      </main>
      <div class="popup" v-if="deleting">
        <div class="popup-element error">
          <div>Are you sure you want to delete the project <b>{{this.selectedProject.title}}</b>?</div>
          <div class="confirmation-buttons">
            <div @click="deleteProject()">Delete project</div>
            <div class="red-link" @click="deleting = false">Cancel</div>
          </div>
        </div>
      </div>
      <loading-icon v-if="isLoading"></loading-icon>
      `
    };

    const editProject= { 
      data: function() {
        return {
          project: {
            id: this.selectedProject.id,
            title: this.selectedProject.title,
            text: this.selectedProject.text,
            url: this.selectedProject.url
          },
          image: null,
          tasks: undefined,
          selectedTask: undefined,
          deleting: false,
          isLoading: true
        }
      },
      emits: ['editTask', 'changePage'],
      props: ['selectedProject'],
      methods: {
        deleteConfirmation: function(task){
          this.selectedTask = task;
          this.deleting = true;
        },
        deleteTask: function(){
          this.deleting = false;
          this.isLoading = true;
          fetch("/entities/deleteTask", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              taskId: this.selectedTask.id
            })
          }).then(() => {
            this.getProjectTasks();
          }).catch(console.error);
        },
        editProject: function(){
          var form = document.getElementById('edit-project-form');

          if(!form.reportValidity()){
            return;
          }

          this.isLoading = true;

          const formData = new FormData();
          formData.append('id', this.project.id);
          formData.append('title', this.project.title);
          formData.append('text', this.project.text);
          formData.append('url', this.project.url);
          formData.append('image', this.image);

          fetch("/entities/updateProject", {
            method: 'POST',
            body: formData
          }).then(() => {
            this.isLoading = false;
            this.$emit('changePage', 4); 
          }).catch(console.error);
        },
        getProjectTasks: function(){
          fetch("/entities/getProjectTasks", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              projectId: this.selectedProject.id
            })
          }).then(res => res.json()).then(tasks => {
            this.tasks = tasks;
            this.isLoading = false;
          }).catch(console.error);
        },
        newImage: function(e){
          this.image = e.target.files[0];
        },
        toggleTask: function(task){
          this.isLoading = true;
          fetch("/entities/toggleTask", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              taskId: task.id
            })
          }).then(() => {
            this.getProjectTasks()
          }).catch(console.error);
        }
      },
      mounted(){
        this.getProjectTasks();
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">Project: {{selectedProject.title}}</div>
        <form action="javascript:void(0)" class="user-data-form" id="edit-project-form">
          <div>
            <div>Title: </div>
            <input type="text" v-model="project.title" placeholder="Write the title of the project here..." required>
          </div>
          <div>
            <div>Description: </div>
            <textarea class="description-textarea" v-model="project.text" placeholder="Write a description of the project here..." required></textarea>
          </div>
          <div>
            <div>URL: </div>
            <input type="text" v-model="project.url" placeholder="Write the informative project URL here..." required>
          </div>
          <div>
            <div>Image: </div>
            <input type="file" @change="newImage">
          </div>
          <button @click="editProject">Modify project</button>
        </form>
        <hr>
        <div class="tasks-box">
          <div class="section-subtitle">Tasks: </div>
          <div class="task-card" v-for="task in tasks">
            <div @click="$emit('editTask',task)">{{task.title}}</div>
            <div v-if="task.isResolved"><img class="done-badge" src="assets/img/done.svg" alt="resolved badge"></div>
            <div class="users-button-group">
              <label class="switch" title="Activate or deactivate the task">
                <input type="checkbox" v-model="task.isActive" @click="toggleTask(task)">
                <span class="slider round"></span>
              </label>
              <img src="assets/img/delete.svg" alt="delete task" title="Delete task" @click="deleteConfirmation(task)">
            </div>
          </div>
        </div>
      </main>
      <div class="popup" v-if="deleting">
        <div class="popup-element error">
          <div>Are you sure you want to delete the task <b>{{this.selectedTask.title}}</b>?</div>
          <div class="confirmation-buttons">
            <div @click="deleteTask()">Delete task</div>
            <div class="red-link" @click="deleting = false">Cancel</div>
          </div>
        </div>
      </div>
      <loading-icon v-if="isLoading"></loading-icon>
      `
    };

    const editTask= {
      data: function() {
        return {
          title: this.selectedTask.title,
          dataDependencies: this.selectedTask.dataDependencies,
          project: this.selectedTask.project,
          dataList: [],
          projectList: [],
          isLoading: true
        }
      },
      emits: ['changePage'],
      props: ['selectedTask'],
      computed: {
        downloadName(){
          var normalizedTitle = this.selectedTask.title.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
          normalizedTitle = normalizedTitle.replace(" ", "_");
          return "results-" + normalizedTitle + ".json";
        },
        resultsDownloadLink(){
          return "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(this.selectedTask.result));
        }
      },
      methods: {
        loadData: function(){
          fetch('/entities/getMyDataFiles').then(res => res.json()).then(data => {
            this.dataList = data;
          }).catch(console.error);
        },
        loadProjects: function(){
          fetch('/entities/getMyProjects').then(res => res.json()).then(data => {
            this.projectList = data;
            this.isLoading = false;
          }).catch(console.error);
        },
        modifyTask: function(){ 
          this.isLoading = true;
          fetch('/entities/updateTask', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: this.selectedTask.id,
              title: this.title,
              dataDependencies: this.dataDependencies,
              project: this.project
            })
          }).then(() => {
            this.isLoading = false;
            this.$emit('changePage', 4);
          }).catch(console.error);
        }
      },
      mounted(){
        this.loadData();
        this.loadProjects();
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">Task: {{selectedTask.title}}</div>
        <form action="javascript:void(0)" class="user-data-form" id="create-task-form">
          <div>
            <div>Title: </div>
            <input type="text" v-model="title" placeholder="Write a title to quickly identify the task..." required>
          </div>
          <div>
            <div>WASM code: </div>
            <a :href="selectedTask.wasmUrl" class="download-link"><img src="/assets/img/download-white.svg">Download WASM code</a>
          </div>
          <div>
            <div>Data dependencies: </div>
            <select v-model="dataDependencies">
              <option value="" selected>*No dependencies*</option>
              <option v-for="data in dataList" :value="data.id">{{data.title}}</option>
            </select>
          </div>
          <div>
            <div>Project: </div>
            <select v-model="project" required>
              <option v-for="proj in projectList" :value="proj.id">{{proj.title}}</option>
            </select>
          </div>
          <button @click="modifyTask">Modify task</button>
        </form>
        <div v-if="selectedTask.result">
          <div class="section-subtitle">Result:</div>
          <div class="results-box">
            <pre>
              {{JSON.stringify(selectedTask.result, null, 2)}}
            </pre>
            <a :href="resultsDownloadLink" :download="downloadName" title="Download JSON results"><img src="assets/img/download.svg" alt="download results"></a>
          </div>
        </div>
      </main>
      <loading-icon v-if="isLoading"></loading-icon>
      `
    };

    const profileSettings= {
      data: function() {
        return {
          user: {
            name: "",
            surname: "",
            email: ""
          },
          newPassword: "",
          newPasswordRepetition: "",
          passwordAlert: false,
          isLoading: true
        }
      },
      emits: ['changePage'],
      methods: {
        getMyData: function(){
          fetch('/entities/getMyData').then(res => res.json()).then(data => {
            this.user = data;
            this.isLoading = false;
          }).catch(console.error);
        },
        updateData: function(){

          var form = document.getElementById('user-data-form');

          if(!form.reportValidity()){
            return;
          }

          if(this.newPassword != this.newPasswordRepetition){
            this.passwordAlert = true;
            return;
          } else {
            this.passwordAlert = false;
          }

          if(this.newPassword != ""){
            this.user.password = this.newPassword;
          }

          this.isLoading = true;

          fetch('/entities/updateResearcherData', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(this.user)
          }).then(() => {
            this.isLoading = false;
            this.$emit('changePage', 0);
          }).catch(console.error);
        }
      },
      mounted(){
        this.getMyData();
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">My profile</div>
        <form action="javascript:void(0)" class="user-data-form" id="user-data-form">
          <div>
            <div>Name: </div>
            <input type="text" v-model="user.name" required>
          </div>
          <div>
            <div>Surname: </div>
            <input type="text" v-model="user.surname" required>
          </div>
          <div>
            <div>Email: </div>
            <input type="text" v-model="user.email" readonly title="Email cannot be modified...">
          </div>
          <div>
            <div>Password (only if you want to modify it): </div>
            <input type="password" v-model="newPassword">
          </div>
          <div>
            <div>Repeat the password: </div>
            <input type="password" v-model="newPasswordRepetition">
          </div>
          <button @click="updateData()">Save changes</button>
        </form>
        <div v-if="passwordAlert" class="form-error">Passwords must match. Please check them and try again.</div>
      </main>
      <loading-icon v-if="isLoading"></loading-icon>
      `
    };

    const addData = {
      data: function() {
        return {
          title: "",
          dataFile: null,
          isLoading: false
        }
      },
      emits: ['changePage'],
      methods: {
        addNewData: function(){
          var form = document.getElementById('add-data-form');

          if(!form.reportValidity()){
            return;
          }

          this.isLoading = true;

          const formData = new FormData();
          formData.append('title', this.title);
          formData.append('datafile', this.dataFile);

          fetch('/entities/addData', {
            method: 'POST',
            body: formData
          }).then(() => {
            this.isLoading = false;
            this.$emit('changePage', 9);
          }).catch(console.error);
        },
        newFile: function(e){
          this.dataFile = e.target.files[0];
        }
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">Add data</div>
        <form action="javascript:void(0)" class="user-data-form" id="add-data-form">
          <div>
            <div>Title: </div>
            <input type="text" v-model="title" placeholder="Write a title to quickly identify the task..." required>
          </div>
          <div>
            <div>Data file: </div>
            <input type="file" @change="newFile" required>
          </div>
          <button @click="addNewData">Add data</button>
        </form>
      </main>
      <loading-icon v-if="isLoading"></loading-icon>
      `
    }

    const manageData = {
      data: function() {
        return {
          dataList: [],
          isLoading: true,
          deleting: false,
          selectedData: {
            title: ""
          }
        }
      },
      emits: ['changePage'],
      methods: {
        copyLink: function(link){
          navigator.clipboard.writeText(link);
        },
        deleteConfirmation: function(elem){
          this.selectedData = elem;
          this.deleting = true;
        },
        deleteData: function(){
          this.isLoading = true;
          this.deleting = false;
          fetch('/entities/deleteData', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
              dataId: this.selectedData.id 
            })
          }).then(() => {
            this.loadData();
          }).catch(console.error);
        },
        loadData: function(){
          fetch('/entities/getMyDataFiles').then(res => res.json()).then(data => {
            this.dataList = data;
            this.isLoading = false;
          }).catch(console.error);
        },
        newData: function(){
          this.$emit('changePage', 8);
        }
      },
      mounted(){
        this.loadData();
      },
      template: 
      `
      <main class="main-section">
        <div class="section-title">Manage Data</div>
        <div class="add-project-button" @click="newData">
          + Add new data
        </div>
        <div class="data-box">
          <div class="data-card" v-for="elem in dataList">
            <div>{{elem.title}}</div>
            <div class="users-button-group">
              <a :href="elem.fileUrl" download><img src="assets/img/download.svg" alt="download file" title="Download file"></a>
              <a :href="elem.torrentUrl" download><img src="assets/img/cloud-download.svg" alt="download torrent" title="Download torrent"></a>
              <img src="assets/img/delete.svg" alt="delete data" title="Delete data" @click="deleteConfirmation(elem)">
            </div>
          </div>
        </div>
      </main>
      <div class="popup" v-if="deleting">
        <div class="popup-element error">
          <div>Are you sure you want to delete the data file <b>{{this.selectedData.title}}</b>?</div>
          <div>Note that if any task currently uses this data it could cause unexpected failures.</div>
          <div class="confirmation-buttons">
            <div @click="deleteData()">Delete data</div>
            <div class="red-link" @click="deleting = false">Cancel</div>
          </div>
        </div>
      </div>
      <loading-icon v-if="isLoading"></loading-icon>
      `
    }

    const loadingIcon = {
      template: 
      `
      <div class="popup">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
      `
    }

    let options = {
      data: function() {
        return {
          page: 0,
          user: undefined,
          entity: undefined,
          selectedProject: undefined,
          selectedTask: undefined
        }
      },
      computed: {
        entityName(){
          if(this.entity){
            return this.entity.name;
          }
          return "";
        },
        userName: function(){
          if(this.user){
            return this.user.name;
          }
          return "";
        }
      },
      methods: {
        changePage: function(newPage){
          this.page = newPage;
        },
        editProject: function(project){
          this.selectedProject = project;
          this.page = 6;
        },
        editTask: function(task){
          this.selectedTask = task;
          this.page = 7;
        },
        loadData: function(){
          fetch('/entities/getMyData').then(res => res.json()).then(userData => {
            this.user = userData;
          });

          fetch('/entities/getEntityInfo').then(res => res.json()).then(data => {
            this.entity = data;
          }).catch(console.error);
        }
      },
      mounted(){
        this.loadData();
      },
      template: 
      `
      <header>
        <div @click="page = 0">
          <img src="/assets/img/logo-hive.png" alt="logo" class="logo">
          <div>HiveCompute - Entities</div>
        </div>
        <nav class="nav-links">
          <div @click="page = 1">Create Task</div>
          <!-- <div @click="page = 2">Create Project</div> -->
          <!-- <div @click="page = 3">Tasks</div> -->
          <div @click="page = 4">Projects</div>
          <div @click="page = 9">Data</div>
          <div @click="page = 5"><img src="/assets/img/person.svg" alt="profile"></div>
          <a href="/entities/logout"><img src="/assets/img/logout.svg" alt="logout"></a>
        </nav>
      </header>
      <main-page v-if="page == 0" @change-page="changePage" :user-name="userName" :entity-name="entityName"></main-page>
      <add-task v-if="page == 1"></add-task>
      <add-project v-if="page == 2"></add-project>
      <manage-projects v-if="page == 4" @change-page="changePage" @edit-project="editProject"></manage-projects>
      <profile-settings v-if="page == 5"></profile-settings>
      <edit-project v-if="page == 6" :selected-project="selectedProject" @edit-task="editTask" @change-page="changePage"></edit-project>
      <edit-task v-if="page == 7" :selected-task="selectedTask" @change-page="changePage"></edit-task>
      <add-data v-if="page == 8" @change-page="changePage"></add-data>
      <manage-data v-if="page == 9" @change-page="changePage"></manage-data>
      `
    }

    var app = Vue.createApp(options);
    app.component('main-page', mainPage);
    app.component('add-task', addTask);
    app.component('add-project', addProject);
    app.component('manage-projects', manageProjects);
    app.component('profile-settings', profileSettings);
    app.component('edit-project', editProject);
    app.component('edit-task', editTask);
    app.component('loading-icon', loadingIcon);
    app.component('add-data', addData);
    app.component('manage-data', manageData);
    const vm = app.mount("#app")
  </script>
</body>
</html>